.header
{
    margin-bottom: 30px;
    padding-bottom: 20px;

    border-bottom: 1px solid #e5e5e5;
}
body
{
    font-family: Tahoma, 'Segoe UI', Geneva, Verdana, sans-serif;
}
label,
input
{
    vertical-align: middle;
}
label
{
    display: inline-block;

    height: 100%;
}
